* {
    padding: 0; 
    margin: 0; 
}

#bg-image {
    width: 100vw; 
    height: 100vh; 
    background-color: cadetblue;
    display: grid; 
    grid-template-areas: 
        "top-left top top-right"
        "mid-left mid mid-right"
        "botm-left botm botm-right"; 
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.widget {
    border: 1px solid white; 
    height: 100%; 
    width: 90%;
    margin: 1.5rem auto;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white; 
    font-family: monospace;
}

.widget > h2 {
    font-size: 2rem;
}

.widget > h3 {
    font-size: 1.5rem;
}

.api-widget-one {
    grid-area: top-left;
}

.weather-widget {
    grid-area: top-right; 
}

.time-widget {
    grid-area: mid; 
}

.credit-widget {
    grid-area: botm-left
}

.api-widget-two {
    grid-area: botm-right; 
}